/* Write your CSS here */
.app-list-container {
  background-color: #ffffff;
  border-radius: 8px;
  width: 229px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #1e293b;
  font-size: 15px;
  font-weight: 600;
  margin: 20px;
}
.app-image {
  height: 90px;
  width: 70px;
  border-radius: 5px;
  padding: 5px;
}
